CompileFlags:
  Add:
    - -std=c11
    - -I../deps/raylib/src
    - -I../deps/staunch/Glow
    - -I../deps/staunch/Exam
    - -I../deps/staunch/Foundation
    - -pedantic-errors
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wcast-align
    - -Wcast-qual
    - -Wconversion
    # - -Wdeclaration-after-statement
    - -Wdouble-promotion
    - -Wduplicated-branches
    - -Wduplicated-cond
    - -Wfloat-equal
    - -Wformat=2
    - -Wformat-nonliteral
    - -Wformat-security
    - -Wformat-y2k
    - -Wimplicit-function-declaration
    - -Winit-self
    - -Winline
    - -Wlogical-op
    - -Wmissing-declarations
    - -Wmissing-field-initializers
    - -Wmissing-include-dirs
    - -Wmissing-prototypes
    - -Wnested-externs
    - -Wnull-dereference
    - -Wold-style-definition
    - -Woverlength-strings
    - -Wpointer-arith
    - -Wredundant-decls
    - -Wrestrict
    - -Wshadow
    - -Wstack-protector
    - -Wstrict-overflow=5
    - -Wstrict-prototypes
    - -Wswitch-default
    - -Wswitch-enum
    - -Wundef
    - -Wuninitialized
    - -Wunknown-pragmas
    - -Wunreachable-code
    # - -Wunused-function
    - -Wunused-label
    - -Wunused-parameter
    - -Wunused-value
    - -Wunused-variable
    - -Wvariadic-macros
    - -Wvla
    - -Wwrite-strings
    - -Wformat-overflow=2
    - -Wformat-truncation=2
    - -Wstringop-overflow=4
    - -Wc90-c99-compat
    - -Wtraditional
    - -Wtraditional-conversion
    # - -Werror
